# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.localized
Thumbs.db

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins/
.flutter-plugins-dependencies/
.pub-cache/
.pub/
/build/
.metadata

# Firebase Config Files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
**/firebase_options.dart
*.json

# Android signing keys (Do not push private keys)
android/app/*.keystore

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
